<form action='/albums' method='POST'>
    <div class="mb-3">
      <label for="name" class="form-label">Album Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name='name'>
    </div>
    <div class="mb-3">
        <label for="artist" class="form-s">Artist</label>
        <input type="text" class="form-control" id="artist" aria-describedby="emailHelp" name='artist'>
    </div>
    <div class="mb-3">
        <label for="songCount" class="form-label">Song Count</label>
        <input type="text" class="form-control" id="songCount" aria-describedby="emailHelp" name='songCount'>
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="text" class="form-control" id="year" aria-describedby="emailHelp" name='year'>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>