<h2>Album Show page</h2>
<% myAlbums.forEach( album => { %>
    <li class="list-group-item">
        <a href='/albums/<%= album.id %>'>
          <%= album.name %> <%= album.artist %> <%= album.year %>
        </a>
    </li>
  <% }) %>